---
// Component Imports
import SkeletonLayout from '../../layouts/SkeletonLayout.astro'
import BasicPageLayout from '../../layouts/BasicPageLayout.astro'
import SEO from '../../components/SEO.svelte'
---

<SkeletonLayout>
  <BasicPageLayout>
    <SEO
      slot="head"
      lang="en"
      ogType="website"
      siteName="m4rr.co"
      title="Blog"
      description="A blog about front-end web development, internet, systems,
      learning, personal organization, productivity, travel, parenting, cardistry,
      hypnosis, ... and probably many other known and uncovered interests of mine"
      canonicalUrl="https://www.m4rr.co/blog/" />

    <div>
      <h1>Things I am writing about</h1>
      <ul>
        <li>
          <a href="/blog/building-my-own-static-site-generator-for-svelte/">
            Building my own static site generator for Svelte
          </a>
        </li>
      </ul>
    </div>

  </BasicPageLayout>
</SkeletonLayout>
