---
// Component Imports
import SkeletonLayout from '../layouts/SkeletonLayout.astro'
import BasicPageLayout from '../layouts/BasicPageLayout.astro'
---

<style>
  .h1 {
    color: red;
  }
</style>

<SkeletonLayout>

  <BasicPageLayout>
    <h1 class="h1">This is the About page</h1>
  </BasicPageLayout>
</SkeletonLayout>
